body {
    position: relative;
    
}

.root {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    color:white;
    background-color: #85dcb0;
    /* background-image: url('img/backgroundoficial.png'); */
}

/*.pontuacao {
    border-radius:20px; 
    width: 150px; 
    height:75px; 
    margin-top: 10px;
    background:#e27d60; 
    color:brown;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}*/
canvas{
    border-radius: 40px;
    box-shadow: 6px 6px 2px rgb(2, 57, 65);
    padding: 10px;
    border-top: 1px solid rgb(2, 57, 65);
    border-left: 1px solid rgb(2, 57, 65);
}
button{
    background-color:transparent;
    color: rgb(2, 57, 65);
    border: 0;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
button::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(2, 57, 65);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
button:hover::after{
    width: 100%;
}

/*TUDO SOBRE O POPUP A PARTIR DAQUI*/
.popup p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.popup {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 300px;
    height: 180px;
    padding: 15px;
    margin-right: 10px;
    letter-spacing: 0.1em;
    color: brown;
    background: #e8977c;
    font-family: fantasy;
    font-style: normal;
    font-size:large;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    border-radius: 10px;
    /*border:2px solid brown;*/
}
/* z-index: 1000; */

.btnBaixar {
    border-radius: 5px;
    background-color:#41b3a3;
    color: black;
    border-color: #41b3a3;
    text-decoration: none;
    box-shadow:1px 1px 2px #028f7c;
}

.btnBaixar:hover{
    background-color: #85dcb0;
    cursor: pointer;
}

.btnFechar{
    border-radius: 5px;
    box-sizing:border-box;
    background-color: #e27d60;
    border-color: #e27d60;
    color:rgb(94, 5, 5);
    /*box-shadow: 1px 1px 2px #f45023;*/
    
}

.btnFechar:hover{
    background-color: #e8a87c;
    cursor:pointer;
}

.fecharConteiner {
    width: 100%;
    display: flex;
    justify-content: end;
}
